absl_py
cloudpickle
fairscale
json_repair
peft
pydantic
sentence_transformers
sentencepiece
setproctitle
tensorboard
tensorboardX
torch # some version, i used 2.4.0+cu121. the below two as well.
torchvision # some version
torchaudio # some version
numpy==1.26.3
xformers==0.0.27.post2
latex2sympy2
word2number